{{> header}}
{{> navbar}}
<div class='w3-content' style='max-width:2000px;margin-top:46px;margin-bottom:20em;'>

  <!-- The Band Section -->
  <div class='w3-container w3-content w3-center w3-padding-64 m-auto' style='max-width:800px' id='band'>
    <h2 class='w3-wide text-center mb-5 mt-4'>Destinos Encontrados</h2>

    <table class='table  table-bordered m-auto '>
      <tr>
        <th>Fecha de Salida</th>
        <th>Destino</th>
        <th>Duración de Viaje</th>
        <th>Tipo de Viaje</th>
      </tr>
      {{#encontrados}}
      <tr>
        <td>{{fecha_partida}}</td>
        <td>{{nombre}}</td>
        <td>{{duracion_hs}}</td>
        <td>{{descripcion}}</td>
      <td>hola</td>
      </tr>
      {{/encontrados}}

    </table>
  </div>

</div>
{{> footer}}