{{> header}}
{{> navbar}}
<div class='w3-content' style='max-width:2000px;margin-top:46px; text-align: center'>

  <!-- The Band Section -->
  <div class='container' style='margin: auto' id='band'>
    <h2 class='w3-wide' style="margin-bottom: 40px">Destinos Encontrados</h2>

    <table class='table table-bordered'>
      <tr class="row-fluid" style="text-align: center; background-color: #F5B06CFF; width:40%" >
        <th>Fecha de Salida</th>
        <th>Origen</th>
        <th class="row-fluid" colspan="8">Recorrido</th>
      </tr>
      {{#encontrados}}
      <tr style="text-align: center; width:40%">
        <td>{{fecha_partida}}</td>
        <td><strong>{{origen}}</strong></td>
        {{#escala}}
          <td>{{fecha_llegada}}<br><strong>{{destino}}</strong></td>
        {{/escala}}
      </tr>
      {{/encontrados}}

    </table>
  </div>

</div>
{{> footer}}