{{> header}}
    <!-- Page preloader-->
    <div class="page-loader"> 
      <div class="page-loader-body"> 
        <div class="preloader-wrapper big active"> 
          <div class="spinner-layer spinner-blue"> 
            <div class="circle-clipper left">
              <div class="circle"> </div>
            </div>
            <div class="gap-patch">
              <div class="circle"> </div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"> </div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow"> 
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
          <div class="spinner-layer spinner-green"> 
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
      <!-- Page Header-->
    {{> navbar}}
      <section class="section">
        <div class="swiper-form-wrap">
          <!-- Swiper-->
          <div class="swiper-container swiper-slider swiper-slider_height-1 swiper-align-left swiper-align-left-custom context-dark bg-gray-darker" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="/public/images/nebulosa3.png">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>CIENTOS DE DESTINOS INCREÍBLES</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Ofrecemos una variedad de destinos para viajar, que van desde exóticos hasta algunos extremos.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="/public/images/nebulosa1.png">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>EL VIAJE DE TU SUEÑO</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Nuestra agencia de viajes está lista para ofrecerle unas vacaciones emocionantes diseñadas para satisfacer sus propias necesidades y deseos.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="/public/images/nebulosa2.png">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>Perspectivas De Viajes Unicas</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">
                          Nuestro equipo está listo para brindarle información única sobre viajes que incluye fotos y sus caracteristicas.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Swiper controls-->
            <div class="swiper-pagination-wrap">
              <div class="container container-bigger">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container container-bigger form-request-wrap form-request-wrap-modern">
            <div class="row row-fix justify-content-sm-center justify-content-lg-end">
              <div class="col-lg-6 col-xxl-5">
                <div class="form-request form-request-modern bg-gray-lighter novi-background">
                  <h4>Encontra Tu Viaje</h4>
                  <!-- RD Mailform-->
                  <form class="rd-mailform form-fix">
                    <div class="row row-20 row-fix">
                      <div class="col-sm-12">
                        <label class="form-label-outside">Desde</label>
                        
                        <div class="form-wrap form-wrap-inline">
                         
                          <select class="form-input select-filter" data-placeholder="All" data-minimum-results-for-search="Infinity" name="city">
                            {{#origenes}}
                            <option value='{{id_origen}}'>{{descripcion}}</option>
                            {{/origenes}}
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <label class="form-label-outside">Hasta</label>
                        <div class="form-wrap form-wrap-inline">
                         
                          <select class="form-input select-filter" data-placeholder="All" data-minimum-results-for-search="Infinity" name="city">
                            {{#destinos}}
                            <option value='{{id_destino}}'>{{descripcion}}</option>
                    
                            {{/destinos}}
                          </select>
                          
                        </div>
                      </div>
                  
                    </div>
                    <div class="form-wrap form-button">
                      <button class="button button-block button-secondary" type="submit" id="searchButton">Buscar</button>
                    </div>
                    <div class="mt-2" style="display:none;" id="contenedor-horarios">

                      <div class="col-lg-6">
                        <label class="form-label-outside">Horarios De Salida</label>
                        <div class="row-fluid ">
                          <div class="form-wrap form-wrap-modern ">
                            <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                          </div>
                          <div class="form-wrap form-wrap-modern ">
                            <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                          </div>
                          <div class="form-wrap form-wrap-modern ">
                            <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                          </div>
                          <div class="form-wrap form-wrap-modern ">
                            <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-lg-6">
                        <label class="form-label-outside">Horarios De Llegada</label>
                        <div class="row-fluid ">
                          <div class="form-wrap form-wrap-modern ">
                            <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                          </div>
                          <div class="form-wrap form-wrap-modern ">
                            <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                          </div>
                          
                            <div class="form-wrap form-wrap-modern ">
                              <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                            </div>
                            <div class="form-wrap form-wrap-modern ">
                              <div class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2"></div>
                            </div>
                      
                    </div>
                  
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-variant-1 bg-default novi-background bg-cover"> 
        <div class="container container-wide">
          <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-8">
              <div class="parallax-text-wrap">
                <h3>Los viajes mas solicitados</h3><span class="parallax-text">Hot tours</span>
              </div>
              <hr class="divider divider-decorate">
            </div>
            <div class="col-xl-3 text-xl-right"><a class="button button-secondary button-nina" href="#">Mostrar todos los viajes</a></div>
          </div>
          <div class="row row-50">
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="/public/images/marte.png" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner d-block">
                  <h5 class="text-center"><a class="event-default-title" href="#">Marte</a></h5><span class="heading-5 d-flex justify-content-center mt-5">Desde$280</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="/public/images/luna.png" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner d-block">
                  <h5 class="text-center"><a class="event-default-title " href="#">Luna</a></h5><span class="heading-5 d-flex justify-content-center mt-5">Desde $480</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="/public/images/titan.png" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner d-block">
                  <h5 class="text-center"><a class="event-default-title" href="#">Titan</a></h5><span class="heading-5 d-flex justify-content-center mt-5">Desde $350</span>
                </div>
              </article>
            </div>
          
          </div>
        </div>
      </section>

 
      <!-- Tips & tricks-->
      <section class="section section-lg novi-background bg-cover bg-default text-center">
        <div class="container-wide">
       
        </div>
      </section>  
    {{>footer}}