{{> header}}
{{> navbar}}


{{#seVerificoLaCuenta}}
<div class="card mb-3">
    <div class="card-img-overlay">
        <div class="card text-center mx-auto p-5" style="width: 25rem; height: 35rem; position: relative; top: 70px;">
        <div class="card-body bg-white" >
            <img class="cohete" src="/public/images/Cohete.png" alt="" style="height:45px;">
            <h5 class="card-title mb-3">¡Su cuenta ha sido verificada con &eacute;xito!</h5>
            <p class="card-text mb-5">Inicie sesi&oacute;n para comenzar la aventura.</p>
            <a class="button-secondary"style="width: 270px; padding-top: 15px; padding-bottom: 10px; border-radius: 25px; border:none" href="/login">Iniciar Sesi&oacute;n</a>
        </div>
        </div>
    </div>
    <img src="/public/images/space-1.jpg" style="height: 45rem"  class="card-img" alt="" >
</div>

</div>
{{/seVerificoLaCuenta}}

{{> footer}}