{{> header}}
{{> navbar}}


<div class="card mb-3">
    <div class="card-img-overlay">
        <div class="card text-center mx-auto p-5" style="width: 25rem; height: 35rem; position: relative; top: 70px;">
            <div class="card-body bg-white" >
                <img class="cohete" src="/public/images/Cohete.png" alt="" style="height:45px;">
                <h5 class="card-title mb-5">Presione el bot&oacute;n para confirmar su registro</h5>
                <a class="button-secondary mb-5" style="width: 270px; padding-top: 15px; padding-bottom: 10px; border-radius: 25px; border:none; text-decoration: none; color: #fff " href="/user/confirmarCuenta/?id={{id}}">Confirmar Cuenta</a>
                <a class="button-secondary" style="width: 270px;padding-top: 15px; padding-bottom: 10px; border-radius: 25px; border:none" href="/inicio">Volver a Inicio</a>
            </div>
        </div>
    </div>
    <img src="/public/images/space-1.jpg" style="width:100%; height: 45rem" class="card-img" alt="" >
</div>


{{> footer}}